<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: chocolate; color: aquamarine; font-size: 20px;">
  <a href="/">Home</a>
  <h2>New Message</h2>

  <form method="POST" action="/new" class="form-new-message">
    <div class="form-new-message-field">
      <label for="username">Your Username: </label>
      <input type="text" name="messageUsername" id="messageUsername" required/>
    </div>
    <div class="form-new-message-field">
      <label for="message">Enter Your Message Here: </label>
      <!-- <textarea name="text" id="text" cols="30" rows="5"></textarea> -->
      <input type="text" name="messageMessage" id="messageMessage" required/>
    </div>
    <div class="form-new-message-field">
      <input type="submit" value="Submit">
    </div>
  </form>

</body>
</html>


